<div class="container ">
    <div class="row">
       <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5"><h1 style="text-align:center;">!! BIG Sale !!</h1></div>
    </div>
    <div class="row ">
        <div *ngFor="let items of this.item" class="col-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="card">
                <img class="card-img-top" src="assets/img/{{items.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">{{items.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted text-center">{{items.price}}</h6>
                  <p class="card-text">{{items.description}}</p>
                  <a href="javascript:void(0);"class="btn btn-default p-2"(click)="ViewDetails(items)">View Details</a>
                  <button class="btn btn-info p-2" (click)="onclickAddtocart(items)">Add-to-Cart</button>
                </div>
              </div>
        </div>
    </div>
  
  
</div>